#port number of the server
PORT=3000
#Hostname of the server
HOST=localhost
#CPU threshold in percentage
CPU_THRESHOLD=50
#Memory threshold in percentage
MEMORY_THRESHOLD=70
#Fetch timeout in milliseconds
FETCH_TIMEOUT_MS=6000